body {
  pointer-events: 'all!important';
}
.ui-br-ext-extention {
  position: fixed;
  left: 50%;
  top: 30px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: inline-flex;
  font-family: Arial;
  flex-direction: column;
  pointer-events: initial !important;
  min-width: 350px;
  padding-bottom: 10px;
  background-color: #ffffff;
  z-index: 99999999;
  line-height: normal !important;
}
.ui-br-ext-extention.ui-br-ext-moving {
  opacity: 0.8;
}
.ui-br-ext-extention * {
  pointer-events: initial !important;
}
.ui-br-ext-extention .ui-br-ext-header {
  padding: 10px 10px 0px;
  margin-bottom: -5px;
}
.ui-br-ext-extention .ui-br-ext-header:hover {
  cursor: move;
}
.ui-br-ext-extention .ui-br-ext-menu-container {
  display: flex;
  position: relative;
  cursor: default;
}
.ui-br-ext-extention .ui-br-ext-menu-container span {
  padding: 3px 2px;
  margin: 0 8px;
  display: flex;
  position: relative;
}
.ui-br-ext-extention .ui-br-ext-menu-container span:hover {
  cursor: pointer;
}
.ui-br-ext-extention .ui-br-ext-menu-container span:hover::before {
  color: #000000;
  font-size: 10px;
  top: -16px;
}
.ui-br-ext-extention .ui-br-ext-menu-container span:hover svg {
  color: #000000;
  transform: scale(1.2);
}
.ui-br-ext-extention .ui-br-ext-menu-container span svg {
  color: #404040;
  height: 20px;
  width: 20px;
  transition: 0.1s ease-out;
}
.ui-br-ext-extention .ui-br-ext-menu-container span svg.review {
  position: absolute;
  top: 2px;
  left: 2px;
}
.ui-br-ext-extention .ui-br-ext-menu-container span:last-child {
  margin-right: 2px;
  margin-left: 8px;
}
.ui-br-ext-extention .ui-br-ext-menu-container span.ui-br-ext-active svg {
  color: #00ad55;
  transform: scale(1.3);
}
.ui-br-ext-extention .ui-br-ext-menu-container span.ui-br-ext-active::before {
  color: transparent;
  background: none;
}
.ui-br-ext-extention .ui-br-ext-menu-container span:before {
  content: attr(data-title);
  position: absolute;
  text-align: center;
  left: 50%;
  top: -8px;
  transform: translate(-50%);
  color: #404040;
  font-size: 0px;
  width: fit-content;
  transition: 0.1s ease-out;
  background: #ffffff;
  padding: 2px;
  white-space: nowrap;
}
.ui-br-ext-extention .ui-br-ext-dropdown {
  cursor: default;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item {
  display: none;
  padding-bottom: 10px;
  padding: 10px 10px;
  cursor: default;
  overflow: auto;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-drop-title {
  color: #00ad55;
  border-bottom: 1px solid #00ad55;
  padding: 0 3px 3px;
  margin: 20px 0;
  font-size: 18px;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item.ui-br-ext-active {
  display: block;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  color: #707070;
  position: relative;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-checkbox {
  align-items: center;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-checkbox input[type=checkbox] {
  height: 18px;
  width: 18px;
  margin: 3px 10px 3px 4px;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-checkbox label {
  font-size: 15px;
  font-weight: normal !important;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-checkbox .ui-br-ext-disclaimer {
  font-size: 11px;
  color: red;
  margin-left: 31px;
  width: 100%;
  box-sizing: border-box;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-text,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-textarea {
  margin-bottom: 16px;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-text input[type=text],
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-textarea input[type=text],
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-text textarea,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-textarea textarea {
  width: 100%;
  padding: 6px 14px;
  border: 1px solid #c4c8c9;
  border-radius: 4px;
  white-space: pre-wrap;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-text input[type=text]:focus-visible,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-textarea input[type=text]:focus-visible,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-text textarea:focus-visible,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-textarea textarea:focus-visible {
  outline: none;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-text input[type=text]:focus,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-textarea input[type=text]:focus,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-text textarea:focus,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-textarea textarea:focus,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-text input[type=text]:active,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-textarea input[type=text]:active,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-text textarea:active,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-textarea textarea:active {
  border-color: #00ad55;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-text label,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-form-container.ui-br-ext-textarea label {
  position: absolute;
  top: -8px;
  left: 5px;
  padding: 0px 3px;
  background-color: #ffffff;
  font-size: 11px;
  font-weight: normal !important;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-btn {
  font-size: 14px !important;
  height: 29px !important;
  padding: 7px 12px;
  border-radius: 4px;
  margin: 20px 25px 0 auto;
  display: block;
  border: none;
  color: #00ad55;
  background-color: #ffffff;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-btn:hover {
  cursor: pointer;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-btn:active {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item .ui-br-ext-btn-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item::-webkit-scrollbar-thumb {
  background-color: #c4c8c7;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-dropdown-item::-webkit-scrollbar-thumb:hover {
  background: #707070;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-add-comments,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-review {
  flex-direction: column;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-add-comments .ui-br-ext-drop-body,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-review .ui-br-ext-drop-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-add-comments .ui-br-ext-drop-body .ui-br-ext-textarea,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-review .ui-br-ext-drop-body .ui-br-ext-textarea {
  flex: 1 1 0;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-add-comments .ui-br-ext-drop-body .ui-br-ext-textarea:first-child,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-review .ui-br-ext-drop-body .ui-br-ext-textarea:first-child {
  max-height: 15%;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-add-comments .ui-br-ext-drop-body .ui-br-ext-review-box .ui-br-ext-review-title,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-review .ui-br-ext-drop-body .ui-br-ext-review-box .ui-br-ext-review-title {
  color: #404040;
  font-size: 16px;
  font-weight: bold;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-add-comments .ui-br-ext-drop-body .ui-br-ext-review-box .ui-br-ext-review-text,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-review .ui-br-ext-drop-body .ui-br-ext-review-box .ui-br-ext-review-text {
  padding: 2px 0 20px;
  font-size: 15px;
  color: #666666;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-add-comments .ui-br-ext-box-resize,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-review .ui-br-ext-box-resize {
  position: absolute;
  right: -1px;
  bottom: -1px;
  width: 14px;
  height: 14px;
  cursor: se-resize;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-add-comments .ui-br-ext-box-resize svg,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-review .ui-br-ext-box-resize svg {
  height: 14px;
  width: 14px;
  transform: rotate(-45deg);
  fill: #707070;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-add-comments.ui-br-ext-active,
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-review.ui-br-ext-active {
  display: flex;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-spinner {
  display: none;
  width: 25px;
  height: 10px;
  position: relative;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-spinner::before {
  content: "";
  background-image: url(assets/spinner.svg);
  position: absolute;
  top: -5px;
  left: 0;
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  -webkit-animation: spin 1s infinite linear;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-spinner.ui-br-ext-spinner-on {
  display: inline-block;
}
.ui-br-ext-extention .ui-br-ext-dropdown .ui-br-ext-review {
  width: 350px;
}
.ui-br-ext-extention .show {
  display: flex !important;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
