.extension {
  position: fixed;
  left: 50%;
  top: 30px;
  border-radius: 3px;
  padding: 10px 10px 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: inline-flex;
  font-family: Arial;
}
.extension:hover {
  cursor: move;
}
.extension .menu-container {
  display: flex;
  position: relative;
  cursor: default;
}
.extension .menu-container span {
  padding: 3px 2px;
  margin: 0 8px;
  display: flex;
  position: relative;
}
.extension .menu-container span:hover {
  cursor: pointer;
}
.extension .menu-container span:hover::before {
  color: #000000;
  font-size: 10px;
  top: -16px;
}
.extension .menu-container span:hover svg {
  color: #000000;
  transform: scale(1.2);
}
.extension .menu-container span svg {
  color: #404040;
  height: 20px;
  width: 20px;
  transition: 0.1s ease-out;
}
.extension .menu-container span:last-child {
  margin-right: 2px;
  margin-left: 8px;
}
.extension .menu-container span.active svg {
  color: #000000;
  transform: scale(1.3);
}
.extension .menu-container span.active::before {
  color: transparent;
}
.extension .menu-container span:before {
  content: attr(data-title);
  position: absolute;
  text-align: center;
  left: 50%;
  top: -8px;
  transform: translate(-50%);
  color: #404040;
  font-size: 0px;
  width: fit-content;
  transition: 0.1s ease-out;
  background: #ffffff;
  padding: 2px;
}
